/* General styles */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #2e3b4e;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #007acc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header img.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

header p {
    font-size: 1rem;
    margin: 0;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    background-color: #007acc;
    padding: 10px;
    border: 2px solid #005b99;
    border-radius: 0; /* Make sure it's flush with the edges */
    width: 100%;
    padding: 0.5em 0;
    border-bottom: 4px solid #005b99;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    padding: 0.5em 1em;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #005b99;
    border-radius: 5px;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}
